extends layout.pug
block content
  .p-2.border
    form(action="/board/update" method="post")
      input(type="hidden" name="_method" value="put")
      input(type="hidden" name="id" id="id")
      //- .p-2.form-inline
      .p-2
        input.form-control.m-2(type="text" id="title" name="title" placeholder="title")
        input.form-control.m-2(type="text" id="writer" name="writer" placeholder="writer")
        textarea.form-control.m-2(id="comment" name="comment" placeholder="comment")
        button.btn.btn-primary.m-2 수정
  table.table.table-bordered
    thead.thead-dark
      tr
        th 번호
        th 제목
        th 작성자
        th 작성일
        th 관리
    tbody
      each v in data
        tr
          td= v.id
          td= v.title
          td= v.writer
          td= v.createdAt
          td
            button.btn.btn-sm.btn-danger.m-1(onclick=`location.href='/board/delete/${v.id}';`) 삭제
            button.btn.btn-sm.btn-success.m-1(onclick=`onChg(${v.id})`) 보기